body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.a{
    color:darkorange;
}
section{
    display: flex;
}
.b{
    width:50%;
    padding-left: 50px;
}
.b img{
    width: 90%;
   
    height: 80%;
}
p{
    text-align: justify;
}    
.c{
    padding: 10px 40px;
    background-image:linear-gradient(orange,tomato) ;
    color: lavender;
    text-decoration: none;   
}
.d{
    background-image: url(top2\ banner.jpg);
    background-repeat: no-repeat;
    
}

