body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.a{
    color:darkorange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.b{
    width:50%;
    padding-left: 50px;
}
.b img{
    width: 90%;
   
   
}
p{
    text-align: justify;
   
}    
.c{
    padding: 10px 40px;
    background-image:linear-gradient(orange,tomato) ;
    color: lavender;
    text-decoration: none;   
}
.d{
    background-image: url(top2\ banner.jpg);
    background-repeat: no-repeat;
    
}
.f{
    width: 50%;
}
.f img{
    width: 90%;
}
.g{ 
   padding:10px 40px;
   
    background-image:linear-gradient(orange,tomato) ;
    color: lavender;
    text-decoration: none;
     
}
.e{
    background-image: url(top2\ banner.jpg);
    background-repeat: no-repeat;
    background-position:right;
    display: flex;
}
.l{
    width: 50%;
    height: 90%;
    margin: 0 50px 0 50px;
    box-shadow:10px 10px 40px gray ;
    padding-left: 20px;
    
    
}
.ex area{
    background-image: url();
}
#allow{
    border-left:5px solid ;
border-image:linear-gradient(blue, cyan);
border-image-slice:1;

}
#not-allow{
    border-left:5px solid ;
border-image:linear-gradient(orange, cyan);
border-image-slice:1;
}
footer p{
    text-align: center;
}